.Login {
    color: #3d405b;
}

.btn-login {
    background-color: #3d405b;
    cursor: pointer;
    color: #fff;
}

.btn-login:hover {
    background-color: #00a2f8
}

.Login h4 {
    margin: 20px;
}

.Login Button {
    margin: 2px;
    width: 130px;
    height: 40px;
    cursor: pointer;
}

.Login Button i {
    padding-right: 10px;
}

.Login .alert {
    margin-top: 20px;
}